.add
   margin: 3rem auto
   display: block
   height: 50px
   width: 50px
   border-radius: 50%
   border: 1px solid white
   font-size: 30px
   font-weight: bold
   color: black
   background-color: white

.add:hover 
   color: white
   background-color: black