@import "../../../styles/plus-button"

.student-wrapper
    margin-top: 3rem
    text-align: center

.table
    margin-bottom: 3rem

.table__row_background_blue
    background-color: #011638
    
.table__cell
    border: 0.3rem solid white
    color: white


