<div class="wrapper">
  <div class="container" *ngIf="!formVisible; else formBlock">
    <h2 class="container__text">List of subjects:</h2>
    <div class="buttons-container">
      <button
        *ngFor="let marks of subjects"
        class="buttons-container__button btn"
      >
        {{ marks.subject }}
      </button>
    </div>
    <app-button (click)="formVisible = true"></app-button>
  </div>
  <ng-template #formBlock>
    <app-form (changeViewToSubjects)="changeViewToSubjects($event)"></app-form>
  </ng-template>
</div>
