<div class="subject-wrapper">
  <div class="container" *ngIf="!formVisible; else formBlock">
    <h2 class="container__text">List of subjects:</h2>
    <div class="buttons-container">
      <button
        *ngFor="let item of subjects"
        class="buttons-container__button btn"
        routerLink="/subjects/{{ item.subject }}"
      >
        {{ item.subject }}
      </button>
    </div>
    <div class="button-plus" (click)="formVisible = true"></div>
  </div>
  <ng-template #formBlock>
    <app-subject-form
      [nameOfInputs]="nameOfInputs"
      (changeViewToSubjects)="changeViewToSubjects($event)"
      (addNewSubject)="saveNewSubject($event)"
      ><h2 class="container__text">Add new subject:</h2></app-subject-form
    >
  </ng-template>
</div>
