<div class="container">
  <header class="header">
    <div class="pentagon"></div>
    <h1 class="logo">{{ title }}</h1>
  </header>
  <nav class="nav">
    <a class="nav-link" routerLink="/students" routerLinkActive="selected"
      >Students</a
    >
    <a class="nav-link" routerLink="/subjects" routerLinkActive="selected"
      >Subjects</a
    >
    <a class="nav-link" routerLink="/statistics" routerLinkActive="selected"
      >Statistics</a
    >
    <a class="nav-link" routerLink="/export" routerLinkActive="selected"
      >Export</a
    >
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
