@import "../../styles/variables.sass" 

.header
    display: flex
    align-items: flex-end

.header__logo 
	color: white
	
.header__pentagon
	height: 55px 
	width: 70px 
	margin: 35px 20px 0 0 
	color: $main-color
	background: $main-color 
	position: relative 
	&:before 
		content: "" 
		height: 0 
		width: 0 
		position: absolute 
		left: 0 
		top: 55px 
		border-top: 35px solid $main-color 
		border-left: 35px solid transparent 
		border-right: 35px solid transparent 

.nav 
	justify-content: space-around
	margin-top: 4rem

.nav__item 
	width: 24%
	text-align: center
	background-color: #212529
	font-size: 1.5rem
	border-radius: 5px
	color: white
    
.nav__item_selected
    color: $main-color

