<nav class="nav">
  <a
    class="nav-link"
    [class.selected]="button === selectedButton"
    (click)="onSelect(button)"
  >
    Students
  </a>
  <a
    class="nav-link"
    [class.selected]="button === selectedButton"
    (click)="onSelect(button)"
    href=""
  >
    Subjects
  </a>
  <a
    class="nav-link"
    [class.selected]="button === selectedButton"
    (click)="onSelect(button)"
  >
    Statistics
  </a>
  <a
    class="nav-link"
    [class.selected]="button === selectedButton"
    (click)="onSelect(button)"
  >
    Export
  </a>
</nav>
