<div class="container">
  <ng-content select="h2"></ng-content>
  <div class="form">
    <form>
      <div class="form__item row" *ngFor="let item of nameOfInputs">
        <label for="{{ 'input' + item.name }}">{{
          (item.isRequared ? '*' : '') + item.name
        }}</label>
        <input
          class="form__input"
          type="text"
          [value]="getLastInputValue(item.name + 1)"
          (keyup)="saveToLocalStorage($event, item.name + 1)"
        />
      </div>
    </form>
    <button
      type="submit"
      class="form__button btn"
      (click)="change(false); $event.preventDefault()"
    >
      Add
    </button>
  </div>
</div>
