.form 
    padding: 2rem
    border: 4px solid grey
    border-radius: 20px

.form-group 
    justify-content: space-around

h2
    margin: 1.5rem 0

input
    border: 2px solid grey
    background-color: black
    padding: 0.5rem
    color: white

input::placeholder 
    color: lightgrey

.form-group:last-of-type
    padding-bottom: 3rem

input[id="inputDescription"]
    height: 200%
    border: 3px solid grey
    border-radius: 5px

button
    display: block
    margin: 0 auto
    background-color: grey 
    color: orange
    
   