<div class="container">
  <ng-content select="h2"></ng-content>
  <div class="form">
    <form>
      <div class="form__item row">
        <label for="inputName">* Name:</label>
        <input
          class="form__input"
          type="text"
          [value]="getLastInputValue('Name')"
          (keyup)="saveToLocalStorage($event, 'Name')"
          placeholder="Name"
        />
      </div>
      <div class="form__item row">
        <label for="inputTeacher">* Teacher:</label>
        <input
          class="form__input"
          type="text"
          [value]="getLastInputValue('Teacher')"
          (keyup)="saveToLocalStorage($event, 'Teacher')"
          placeholder="Teacher"
        />
      </div>
      <div class="form__item row">
        <label for="inputCabinet">Cabinet:</label>
        <input
          class="form__input"
          type="number"
          [value]="getLastInputValue('Cabinet')"
          (keyup)="saveToLocalStorage($event, 'Cabinet')"
          placeholder="Cabinet"
        />
      </div>
      <div class="form__item row">
        <label for="inputDescription">Description:</label>
        <input
          class="form__input"
          type="text"
          [value]="getLastInputValue('Description')"
          (keyup)="saveToLocalStorage($event, 'Description')"
          placeholder="Description"
        />
      </div>
      <button
        type="submit"
        class="form__button btn"
        (click)="change(false); $event.preventDefault()"
      >
        Add
      </button>
    </form>
  </div>
</div>
