<div class="container">
  <ng-content select="h2"></ng-content>
  <div class="form">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form__item row" *ngFor="let item of nameOfInputs">
        <label class="form__label" for="{{ 'input' + item.name }}">{{
          item.name | translate
        }}</label>
        <input
          id="{{ item.name }}"
          class="form__input"
          type="text"
          [required]="item.isRequared"
          ngModel
          placeholder="{{ item.name | translate }}"
          name="{{ item.name }}"
        />
      </div>
      <button class="form__button btn" type="submit" [disabled]="!form.valid">
        {{ 'add' | translate }}
      </button>
    </form>
  </div>
</div>
