<div class="subject-table-wrapper">
  <div class="header">
    <h2 class="header__text">{{ nameOfSubject }}</h2>
    <div class="header__button button-plus"></div>
  </div>

  <table class="table">
    <tr class="table__row" class="table__row_background_blue">
      <th class="table__cell" *ngFor="let item of headerItems">
        <span class="table__text">{{ item }}</span>
      </th>
    </tr>
    <tr appCellColor class="table__row" *ngFor="let student of students">
      <td class="table__cell">{{ student.name }}</td>
      <td class="table__cell">{{ student.lastName }}</td>
      <td class="table__cell">
        {{ getAverageMark(student.index) }}
      </td>
      <td class="table__cell" *ngFor="let date of dates">
        <input
          class="table__input"
          type="number"
          [(ngModel)]="subject.marks[date][student.index]"
        />
      </td>
    </tr>
  </table>

  <div class="form row">
    <label for="Teacher">{{ 'Teacher' }}</label>
    <input class="form__input" value="{{ teacher }}" type="text" />
  </div>
  <button type="submit" class="button btn" (click)="con()">
    Save
  </button>
</div>
